body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

#okvir {
    width: fit-content;
    margin: 4em auto;
    background-color: #b8c8d8;
    background-image: linear-gradient(#b8c8d8, #d7e0e6);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#okvir fieldset {
    border: 2px solid #446e9c;
    width: 12em;
    float: left;
    margin: 2em;
    align-content: center;
}

#okvir fieldset legend {
    color: #446e9c;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
}

#okvir fieldset div {
    align-content: center;
}

#okvir fieldset div p {
    color: #446e9c;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
}

.prethodna, .sljedeca {
    height: 13em;
    border-radius: 15%;
}

.trenutna {
    height: 15em;
    border-radius: 5%;
}

.predmet {
    font-size: 1.25em;
}

.opis {
    font-size: 0.75em;
}

#meni {
    margin: 0%;
    background-color: #0a3958;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#meni a {
    float: left;
    color: white;
    text-align: center;
    padding: 1.3em 1em;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.1em;
}

#meni a:hover {
    background-color: rgb(35, 35, 184);
}

@media only screen and (max-width: 600px) {
    #meni a {
        float: left;
        color: white;
        text-align: center;
        padding: 0.5em 0.4em;
        text-decoration: none;
        font-family: Trebuchet MS, sans-serif;
        font-size: 0.8em;
    }

    #okvir {
        margin: 2em auto;
    }

    #okvir {
        width: 90%;
        padding: 0%;
        display: table;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #okvir fieldset {
        width: 60%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #okvir fieldset:nth-child(2) {
        margin-bottom: 0%;
    }

    .prethodna {
        display: none;
    }
}