body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

textarea {
    height: 7em;
}

#okvir {
    width: fit-content;
    margin: 4em auto;
}

form {
    background-color: #eff5fa;
    border: 2px solid #556679;
    border-radius: 3%;
    width: fit-content;
    padding: 1em;
    align-content: center; 
}

td {
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

button {
    margin-top: 1em;
    width: 30%;
    text-align: center;
    float: right;
    background-color: #d6dee4;
}

button, input, select, label {
    font-family: Arial, Helvetica, sans-serif;
    color: #253241;
    font-size: 1em;
}

#tip, #dan {
    width: 100%;
}

#meni {
    margin: 0%;
    background-color: #0a3958;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#meni a {
    float: left;
    color: white;
    text-align: center;
    padding: 1.3em 1em;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.1em;
}

#meni a:hover {
    background-color: rgb(35, 35, 184);
}

@media only screen and (max-width: 600px) {
    #meni a {
        float: left;
        color: white;
        text-align: center;
        padding: 0.5em 0.4em;
        text-decoration: none;
        font-family: Trebuchet MS, sans-serif;
        font-size: 0.8em;
    }

    #okvir {
        margin: 2em auto;
    }

    table {
        width: 100%;
    }

    tr {
        display: table;
        margin: 0%;
        margin-bottom: 1.5em;
        padding: 0%;
        width: 100%;
    }

    td {
        display: table-row;
        vertical-align: top;
        width: 90%;
        margin: 0%;
        padding: 0%;
    }

    input, select, button, label {
        width: 100%;
        margin: 0%;
        padding: auto;
        font-size: 0.8em;
    }

    tr:nth-child(6) {
        margin: 0%;
    }

    button {
        width: 50%;
    }

}