body {
    background-color: white;
    margin: 0;
}

#okvir {
    width: fit-content;
    margin: 0 auto;
}

table {
    width: fit-content;
    height: fit-content;
}

td {
    width: 1.1em;
    padding: 0.1em;
}

tr {
    height: 4em;
}

table, tr, td {
    border-collapse: collapse;
}

.satnica {
    height: 2em;
}

.dan {
    text-align: right;
    padding: 0.5em;
    font-size: 1.1em;
    font-family: "Lucida Console", Courier, monospace;
}

.vrijeme {
    text-align: center;
    vertical-align: bottom;
    font-size: 0.75em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.prvi {
    font-weight: bold;
}

.sat:nth-child(2n) {
    border-right-style: dashed;
    border-right-width: 2px;
    border-left-style: solid;
}

.sat:nth-child(6n + 2), .sat:nth-child(6n) {
    border-right-width: 2px;
    border-right-color: gray;
}

.sat:nth-child(27) {
    border-right: 1px solid black;
}

.sat:nth-child(24) {
    border-left-style: dashed;
    border-left-width: 2px;
    border-left-color: black;
}

.sat:nth-child(6n + 1) {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: gray;
}

.sat {
    background-color: #e6e6e6;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right-width: 1px;
    border-left-width: 1px;
}

.cas {
    background-color: #dee7f0;
    height: 100%;
    width: 100%;
}

.predavanje {
    columns: 1.1em 6;
}

.vjezbe {
    columns: 1.1em 3;
}

.tutorijal {
    columns: 1.1em 4;
}