body {
    background-color: white;
}

#okvir {
    width: fit-content;
    margin: 0 auto;
}

table {
    width: fit-content;
    height: fit-content;
}

td {
    width: 1.2em;
    padding: 0.1em;
}

tr {
    height: 4em;
}

table, tr, td {
    border-collapse: collapse;
}

.sat {
    background-color: lightgrey;
    border: 1px solid black;
}

.dan, .prazno {
    text-align: right;
    padding: 0.5em;
    font-size: 1.1em;
}

.vrijeme {
    text-align: center;
    vertical-align: bottom;
}

.prvi {
    font-weight: bold;
}

