body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

#okvir {
    width: fit-content;
    margin: 3em auto;
}

table {
    width: fit-content;
    height: fit-content;
}

td {
    width: 1.3em;
}

tr {
    height: 4em;
}

table, tr, td {
    border-collapse: collapse;
}

.satnica {
    height: 2em;
}

.dan {
    text-align: right;
    padding-right: 0.5em;
    font-size: 1.1em;
    font-family: "Lucida Console", Courier, monospace;
}

.vrijeme {
    text-align: center;
    vertical-align: bottom;
    font-size: 0.75em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.prvi {
    font-weight: bold;
}

.sat {
    background-color: #e6e6e6;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 0%;
    padding: 0%;
}

.cijeli {
    border-right-style: dashed;
}

.pola {
    border-left-style: dashed;
}

.cas {
    background-color: #dee7f0;
    padding: 0.2em;
}

.cas p {
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
}

.cas .predmet {
    font-size: 1.1em;
    margin-bottom: 0%;
    margin-top: 0%;
}

.cas .tip {
    margin-top: 0%;
    font-size: 0.8em;
    margin-bottom: 1.3em;
}

.pola.predavanje, .pola.tutorijal {
    border-left-style: dashed;
}

.cijeli.vjezbe, .pola.predavanje, .pola.tutorijal {
    border-right-style: dashed;
}

#meni {
    margin: 0%;
    background-color: #0a3958;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#meni a {
    float: left;
    color: white;
    text-align: center;
    padding: 1.3em 1em;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.1em;
}

#meni a:hover {
    background-color: rgb(35, 35, 184);
}