body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

#okvir {
    width: fit-content;
    margin: 4em auto;
}

form {
    background-color: #eff5fa;
    border: 2px solid #556679;
    border-radius: 3%;
    width: fit-content;
    padding: 1em;
    align-content: center; 
}

button {
    margin-top: 1em;
    width: 30%;
    text-align: center;
    float: right;
    background-color: #d6dee4;
}

button, input, select, label {
    font-family: Arial, Helvetica, sans-serif;
    color: #253241;
    font-size: 1em;
}

tr:nth-child(2n) {
    height: 0.3em;
}

#meni {
    margin: 0%;
    background-color: #0a3958;
    width: 100%;
    min-height: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    background-image: url(../slike/etf.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10em;
}

#meni ul {
    position: absolute;
    bottom: 0%;
}

#meni ul li {
    margin-right: 1em;
    display: inline;
}

#meni ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}