body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

#okvir {
    width: fit-content;
    margin: 4em auto;
    align-content: center;
}

table {
    width: 20em;
}

td {
    padding: 0.35em;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
}

tr:hover {
    border-width: 2px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#meni {
    margin: 0%;
    background-color: #0a3958;
    width: 100%;
    min-height: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
}

#meni ul {
    position: absolute;
    bottom: 0%;
}

#meni ul li {
    margin-right: 1em;
    display: inline;
}

#meni ul li a {
    color: white;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.1em;
}