body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

#okvir {
    width: fit-content;
    margin: 4em auto;
    align-content: center;
}

table {
    width: 20em;
}

td {
    padding: 0.35em;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;
}

tr:hover {
    border-width: 2px;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#meni {
    margin: 0%;
    background-color: #0a3958;
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#meni a {
    float: left;
    color: white;
    text-align: center;
    padding: 1.3em 1em;
    text-decoration: none;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.1em;
}

#meni a:hover {
    background-color: rgb(35, 35, 184);
}

@media only screen and (max-width: 600px) {
    #meni a {
        float: left;
        color: white;
        text-align: center;
        padding: 0.5em 0.4em;
        text-decoration: none;
        font-family: Trebuchet MS, sans-serif;
        font-size: 0.8em;
    }
}