body {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

#okvir {
    width: fit-content;
    margin: 4em auto;
    background-color: #b8c8d8;
    background-image: linear-gradient(#b8c8d8, #d7e0e6);
    overflow: hidden;
}

#okvir fieldset {
    border: 2px solid #446e9c;
    width: 12em;
    float: left;
    margin: 2em;
    align-content: center;
}

#okvir fieldset legend {
    color: #446e9c;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#okvir fieldset div {
    align-content: center;
}

#okvir fieldset div p {
    color: #446e9c;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.prethodna, .sljedeca {
    height: 13em;
    border-radius: 15%;
}

.trenutna {
    height: 15em;
    border-radius: 5%;
}

.predmet {
    font-size: 1.25em;
}

.opis {
    font-size: 0.75em;
}

#meni {
    margin: 0%;
    background-color: #0a3958;
    width: 100%;
    min-height: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
}

#meni ul {
    position: absolute;
    bottom: 0%;
}

#meni ul li {
    margin-right: 1em;
    display: inline;
}

#meni ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}